.proyect {
    background-color: rgba(39, 255, 154, 0.5);
    padding: 80px 20px;
    text-align: center;
    font-family: 'M PLUS 1p', sans-serif;
    padding-bottom: 95px;
}

.titulo-proyectos {
    font-size: 38px;
    color: #284659;
    font-weight: 800;
    text-decoration: underline;
    text-decoration-color: #00A859;
    text-underline-offset: 12px;
    margin-bottom: 25px;
}

.descripcion-proyectos {
    max-width: 750px;
    margin: 0 auto 60px auto;
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}

.contenedor-principal {
    display: flex;
    flex-wrap: wrap; /* Para que bajen si no caben */
    justify-content: center;
    gap: 15px; /* Espacio entre tarjetas */
    max-width: 1450px;
    margin: 0 auto;
}

.tarjeta {
    background: radial-gradient(
        circle at center, 
        rgba(60, 95, 118, 0.585) 0%, 
        rgba(40, 69, 88, 0.64) 100%
    );
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 450px;
    height: auto;
    border-radius: 35px; /* Redondeado pronunciado como tu diseño */
    padding: 30px 35px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column; /* Alinea los hijos uno debajo de otro */
    align-items: center;
}

.tarjeta h2{
    font-size: 30px;
    font-family: 'M PLUS 1p', sans-serif;
    color: white;
    margin-bottom: 15px;
}
.tarjeta span{
    color:#17ff9d;
    font-family: 'M PLUS 1p', sans-serif;
    font-family: 20pxs;
    margin-bottom: 25px;
}
.tarjeta .img{
    width: 390px;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: 15px;
}
.tarjeta .click{
    cursor: pointer;
}
.tarjeta p{
    color: rgb(255, 255, 255);
    padding: 0px 15px;
    font-size: 16px;
    font-family: 'DM Sans', system-ui, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 18px;
}
.tarjeta .tecno{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 25px;
}
.tarjeta .tecno h3{
    font-size: 15px;
    color: #284659;
    background-color: #FFD062;
    border-radius: 5px;
    padding: 4px 10px;
}

.tarjeta:hover {
    transform: translateY(-10px); /* Efecto sutil al pasar el mouse */
}

.botones {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.boton-gris, .boton-verde {
    display: flex; /* Para alinear icono y texto */
    align-items: center;
    justify-content: center;
    gap: 12px; /* Espacio entre el icono y la palabra */
    padding: 12px 0;
    width: 100px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 800;
    font-size: 14px;
    text-align: center;
}

.icono {
    width: 22px;  /* Ajusta el tamaño del icono */
    height: auto;
    object-fit: contain;
}

.boton-gris {
    background-color: #e8e8e8;
    color: #284659;
}

.boton-verde {
    background-color: #17ff9d;
    color: #284659;
}

.proxima {
    background: radial-gradient(
        circle at center, 
        rgba(60, 95, 118, 0.585) 0%, 
        rgba(40, 69, 88, 0.64) 100%
    );
    height: 400px;
        display: flex;
        align-items: center;    
        justify-content: center; 
}
.proxima h3 {
    color: white;
    font-size: 35px;
    font-weight: 800;
    margin: 0;
    line-height: 1.4;
}

/*hover*/
.tarjeta .tecno h3:hover{
    background-color: #ffecc0;
}
.boton-gris:hover {
    background-color: #c8c8c8;
}

.boton-verde:hover {
    background-color: #7cffc8;
}
.tarjeta .click:hover{
    transform: scale(1.02);
    filter: brightness(1.15);
}

/*curva del fondo*/
.proyect {
  position: relative;
  background:  rgba(39, 255, 154, 0.5); /* IMPORTANTE */
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  z-index: 1;
}

.wave path {
  fill: #284659; /* color DIFERENTE para que se vea */
}

.wave-top {
  top: 0;
}

.wave-bottom {
  bottom: -1px;
}

/*modal*/
.modal-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(37, 37, 37, 0.663);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-img-contenido {
  max-width: 85%;
  max-height: 85%;
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(53, 52, 52, 0.6);
  animation: zoomIn 0.3s ease;
}

@keyframes zoomIn {
  from {
    transform: scale(0.85);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/*responsive*/
@media (max-width: 768px) {
  .tarjeta {
    width: 100%;
    max-width: 380px;
    padding: 25px 20px;
    margin-bottom: 10px;
  }
  .tarjeta .img {
    width: 340px;
  }
  .proyect p{
    margin-bottom: 35px;
  }
}
