.home {
  width: 100%;
  height: 100vh;
  background-color: #284659;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
/* home parte portada*/
      /* izquierda*/
.home_container {
 width: 100%;
 height: 100%;
    display: flex;
}
.text_section {
 width: 50%;
 height: 100%;
}

.text_section h3{
 color: white;
 padding-top: 90px;
 padding-left: 100px;
 font-size: 60px;
 font-family: "Jersey 25", sans-serif;
}
.text_section .dot{
 color: #00A859;
 font-size: 40px;
}
.nombre {
  margin-top: 50px;
    display: flex;
}
.text_section .nombre .linea{
  width: 140px;
  height: 2px;
  background-color: #00A859;
    
}
.text_section .nombre h2{
 color: white;
 font-size:40px;
 font-family: 'Alexandria';
 font-weight: 250;
}
.text_section h1 {
  color: white;
  margin-top: 40px;
  margin-left: 100px;
  font-size: 70px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}
.buttons {
  display: flex;
  padding-left: 100px;
  margin-top: 40px;
  gap: 30px;
}
.buttons .proyecto {
  width: auto;
  height: auto;
  padding: 15px;
  font-family: 'Alexandria';
  font-weight: 300;
  font-size: 17px;
  color: white;
  background-color: #00A859;
}
.buttons .curriculum {
  width: auto;
  height: auto;
  padding: 15px;
  font-family: 'Alexandria';
  font-weight: 300;
  font-size: 17px;
  color: white;
  border: 2px solid #00A859;
}

.buttons .proyecto:hover {
  background-color: #008f4c;
}
.buttons .curriculum:hover {
  background-color: #008f4c42;
  border: 2px solid #00A859;
}
     
      /*Derecha*/

.image_section {
 width: 50%;
 height: 100%;
 display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; 
  position: relative;
}
.image_section .arriba_iconos {
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 4;
    margin-bottom: 450px;
    gap: 400px;
 
}
.image_section .arriba_iconos .front2{
 width: auto;
 height: 80px;
 margin-left: 50px;
}
.image_section .arriba_iconos .back2{
 width: auto;
 height: 80px;
 margin-right: 50px;
}

.image_section .degradado {
width: 700px;
height: auto;
position: absolute; 
z-index: 1; 
    
}
.image_section .linea {
width: 450px;
height: auto;
position: absolute;
z-index: 2;
}
.image_section .foto{
width: 700px;
height: 600px;
position: absolute;
z-index: 3;
margin-top: 100px;
}

.glitch {
  z-index: 4;
    width: 300px;
    height: 340px;
    background-image: url("/images/kevin_foto.png");
    background-size: cover;
    animation: glitch 3.5s infinite steps(1);
}

@keyframes glitch {
    0%, 100% {
        background-image: url("/images/kevin_foto.png");
        background-size: cover;      
    }

    92.5% {
        background-image: url("/images/prueba.png");
        background-size: cover; 
        opacity: 1;     
    }

    95% {
        background-image: url("/images/glitch_2.png");
        background-size: cover;
        opacity: 0;
    }

    97.5% {
        background-image: url("/images/glitch_3.png");
        background-size: cover;   
        opacity: 1;        
    }
}

.image_section .abajo_iconos {
  margin-top: 200px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 5;
    gap: 500px;
 
}
.image_section .abajo_iconos .back1{
 width: auto;
 height: 80px;
 margin-left: 50px;
}
.image_section .abajo_iconos .front1{
 width: auto;
 height: 80px;
 margin-right: 50px;
}


/* footer de la parte home*/

.skills {
  width: 100%;
  height: 80px;
  font-size: 6px;
  background-color: #1C3443;
  margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  overflow: hidden;
  z-index: 6;
}
.skills-content {
    animation: scroll-left 40s linear infinite;
}

.skills span {
    color: #8B8B8B;
    padding: 0 30px; 
    font-family: 'Alexandria', sans-serif;
    font-weight: 230;
    font-size: 25px;
}

@keyframes scroll-left {
    /* 0% (Inicio): El contenedor está en su posición normal */
    0% {
        transform: translateX(0);
    }
    
    /* 100% (Fin): El contenedor se ha movido hacia la izquierda el 50% de su contenido */
    /* El 50% es porque el contenido está duplicado, así el segundo conjunto entra suavemente. */
    100% {
        transform: translateX(-50%);
    }
}

    /*responsibe home*/
@media (max-width: 768px) {

  .home {
    height: auto;
  }

  .home_container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  /* ===== TEXTO ===== */
  .text_section {
    width: 100%;
    height: auto;
  }

  .text_section h3 {
    padding-top: 40px;
    padding-left: 0;
    font-size: 42px;
    text-align: left;
    margin-left: 50px;
  }

  .nombre {
    margin-left: 20px;
    margin-top: 25px;
    text-align: left; 
  }

  .text_section .nombre .linea {
    width: 80px;
    margin-right: 10px;
  }

  .text_section .nombre h2 {
    font-size: 30px;
  }

  .text_section h1 {
    margin-left: 0;
    font-size: 42px;
    line-height: 1.3;
    margin-top: 25px;
  }

  .buttons {
    padding-left: 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .buttons a {
    width: 80%;
    text-align: center;
  }

  /* ===== IMAGEN ===== */
  .image_section {
    width: 100%;
    height: 400px;
    margin-top: 40px;
  }

  .image_section .degradado {
    width: 350px;
  }

  .image_section .linea {
    width: 250px;
  }

  .image_section .foto {
    width: 100%;
    height: 350px;
    margin-top: 50px;
  }
  .arriba_iconos,
  .abajo_iconos {
    position: absolute;
    width: 100%;
    pointer-events: none;
  }

  /* ===== ARRIBA ===== */
  .arriba_iconos .front2 {
    position: absolute;
    top: 60px;
    left: -20px;
    height: 60px;
  }

  .arriba_iconos .back2 {
    position: absolute;
    top: 50px;
    right: 5px;
    height: 60px;
  }

  /* ===== ABAJO ===== */
  .abajo_iconos .front1 {
    position: absolute;
    bottom: 0px;
    right: -25px;
    height: 60px;
  }

  .abajo_iconos .back1 {
    position: absolute;
    bottom: -10px;
    left: 0px;
    height: 60px;
  }
  .glitch { 
    width: 220px;
    height: 260px;
  }

  /* ===== SKILLS ===== */
  .skills {
    height: 60px;
  }

  .skills span {
    font-size: 18px;
    padding: 0 15px;
  }
}
