<div class="home">
    
    <app-navbar></app-navbar>

    <section class="home_container">
            <!-- IZQUIERDA -->
            <div class="text_section">
                <h3 class="saludo">{{ t('home.greeting') }}<span class="dot">•</span></h3>
                <div class="nombre"> <div class="linea"></div> <h2>{{ t('home.iam') }}</h2> </div>
                <h1 class="rol">{{ t('home.role') }}</h1>

                <div class="buttons">
                    <a href="#contacto" class="proyecto">{{ t('home.btnProject') }}</a>
                    <a href="/cv_prueba.pdf" download class="curriculum" target="_blank">{{ t('home.btnCV') }}</a>
                </div>
            </div>

            <!-- DERECHA -->
            <div class="image_section">
                <div class="arriba_iconos">           
                    <img src="images/front_2.png" alt="" class="front2"/>
                    <img src="images/back_2.png" alt="" class="back2"/>
                </div>
                <img src="images/Ellipse_degradado.png" alt="" class="degradado">
                <img src="images/Ellipse_linea.png" alt="" class="linea">
                <div class="glitch foto"></div>
                <div class="abajo_iconos">
                    <img src="images/back_1.png" alt="" class="back1"/>
                    <img src="images/front_1.png" alt="" class="front1"/>
                </div>
            </div>
    </section>

    <div class="skills">
        <div class="skills-content">
            <span>Mysql</span>
            <span>Workbench</span>
            <span>Node.js</span>
            <span>Express</span>
            <span>HTML</span>
            <span>CSS</span>
            <span>Javascript</span>
            <span>Angular</span>
            <span>Typescript</span>
            <span>Gsap</span>
            <span>Git</span>
            <span>GitHub</span>
            
            <span>Mysql</span>
            <span>Workbench</span>
            <span>Node.js</span>
            <span>Express</span>
            <span>HTML</span>
            <span>CSS</span>
            <span>Javascript</span>
            <span>Angular</span>
            <span>Typescript</span>
            <span>Gsap</span>
            <span>Git</span>
            <span>GitHub</span>
        </div>
    </div>

</div>