.navbar {
  width: 100%;
  height: auto;
  padding: 20px 90px;
  background-color: #284659;
  box-shadow: 0px 5px 10px #27ff9a71;
    display: flex;
    justify-content: space-between;

}
.navbar .nav{
  display: flex;
  gap: 60px;
}
.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  width: 50px;
  height: auto;
}

.navbar-logo a {
  color: #27FF9A;
  font-size: 25px;
  margin-left: 10px;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
}

.navbar-links a {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;

  text-decoration: none;
  padding-bottom: 5px;
  position: relative;
  overflow: hidden;
}

.navbar-links a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  
  width: 100%;
  height: 1.7px;
  background-color: #27FF9A;
  
  transform: scaleX(0); 
  transform-origin: bottom left; 
  
  transition: transform 0.5s ease-out; 
}

.navbar-links a:hover::after {
  transform: scaleX(1); 
}

/* responsibe */
/* ===== BOTÓN HAMBURGUESA ===== */
.menu-toggle {
  display: none;
  font-size: 28px;
  color: #27FF9A;
  cursor: pointer;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {

  .navbar {
    padding: 20px 25px;
  }
  .navbar-logo img {
  width: 30px;
  height: auto;
}
  .navbar a {
    font-size: 16px;
  }
  .menu-toggle {
    display: block;
  }

  .navbar-links {
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    background-color: #284659;

    flex-direction: column;
    gap: 25px;
    padding: 25px 0;

    display: none; /* oculto por defecto */
  }
  .navbar-links.open {
    display: flex;
    background-color: #1f3644db;
    z-index: 5;
  }
  .navbar .nav {
    gap: 15px; 
    display: flex;
    align-items: center;
  }
  .lang-switch {
    order: 1; 
  }
  .menu-toggle {
    display: block;
    order: 2;
  }
}

/* estilo de boton de englis y español */
.lang-switch {
  display: flex;
  gap: 10px;
  align-items: center;
}

.lang-switch button {
  background: transparent;
  border: 1px solid #27FF9A;
  color: #27FF9A;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.lang-switch button:hover {
  background-color: #27FF9A;
  color: #284659;
}
.lang-switch button.active {
  background-color: #27FF9A;
  color: #284659;
  box-shadow: 0 0 10px rgba(39, 255, 154, 0.6);
}