/* seccion de acerca de mi */
.acercademi {
width: 100%;
height: auto;
background-color: #284659;  
}
.acercademi h1 {
color: white;
font-family: Arial, Helvetica, sans-serif; 
text-align: center;
padding-top: 70px;
padding-bottom: 30px;
}
.img_des {
width: 100%;
height: 700px;
    display: flex;
}
.imagen {
width: 35%;
height: 700px;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.imagen img {
width: 400px;
height: auto;
}

.descripcion{
width: 65%;
height: 700px;
overflow-x: hidden;
}
.descripcion p{
color: white;
font-size: 18px;
font-family: 'M PLUS 1p', sans-serif;
font-weight: 500;
margin-top: 30px;
line-height: 1.6;
padding: 0 50px;
}
.descripcion p span{
color: #27FF9A;
}
.descripcion p .pregunta{
color: #FFD062;
padding-top:40px ;
}
    /* Detalles */
.acercademi h1::after {
    content: "";
    display: block;
    width: 200px;
    height: 3px;
    background-color: #27FF9A;
    margin: 2px auto 0;
}

/* seccion de skill */

.skill {
width: 100%;
height: 790px;
}
.skill h2{
color:#27FF9A;
font-family: 'M PLUS 1p', sans-serif;
font-weight: 800;
font-size: 40px;
margin-left: 100px;
padding-top: 30px;
padding-bottom: 30px;
}
.skill .stack{
width: 100%;
height: auto;
margin-top: 40px;
gap: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stack .logos{
gap: 30px;
    display: flex;
}
.tecnologia{
padding: 20px 30px;
border-radius: 30px;
background-color: rgb(39, 255, 154, 0.17);
transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;    
    justify-content: center;   
    align-items: center;
    gap: 15px;            
}
.tecnologia img {
width: 90px;
height: 80px;
object-fit: contain;
}
.tecnologia figcaption{
color: white;
height: 30px; 
font-family: 'M PLUS 1p', sans-serif;
font-size: 14px;
font-weight: 500;             
    display: flex;
    align-items: center;       /* centra vertical */
    justify-content: center;   /* centra horizontal */
    text-align: center;
}
.stack h3{
font-family: 'M PLUS 1p', sans-serif;
font-weight: 500;
font-size: 25px;
color: white;
}

        /* Detalles */

.tecnologia:hover {
    background-color: rgba(39, 255, 154, 0.421);
}
.tecnologia {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.tecnologia:hover {
  background-color: rgba(39, 255, 154, 0.421);
  box-shadow: 0 10px 20px rgba(39, 255, 154, 0.35);
}

/*responsive*/
@media (max-width: 768px) {
   .acercademi h1{
    margin-top: 0;
    padding-top: 40px;   /* o 0 si lo quieres bien pegado */
    padding-bottom: 20px;
   } 
  .img_des {
    flex-direction: column;
    height: auto;
  }

  /* ===== IMAGEN ===== */
  .imagen {
    width: 100%;
    height: auto;
    padding: 20px 0;
  }

  .imagen img {
    width: 320px;
    max-width: auto;
  }

  /* ===== DESCRIPCIÓN ===== */
  .descripcion {
    width: 100%;
    height: auto;
    padding-bottom: 40px;
    padding: 0px 20px;
  }

  .descripcion p {
    font-size: 16px;
    padding: 0 25px;
    text-align: left;
  }

  .descripcion p .pregunta {
  display: block;
  /*text-align: center;*/
  margin-top: 10px;   
  padding-top: 0;     
}
}

/* ===== SECCIÓN SKILLS ===== */
@media (max-width: 768px) {
  .skill {
    height: auto;
    padding-bottom: 10px;
  }

  .skill h2 {
    font-size: 32px;
    margin-left: 0;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0px;
  }

  .skill .stack {
    flex-direction: column-reverse;
    gap: 20px;
    margin-top: 20px;
    padding: 0 25px;
  }

  .stack .logos {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .tecnologia {
    padding: 15px 20px;
    width: 120px;
  }

  .tecnologia img {
    width: 60px;
    height: 60px;
  }

  .tecnologia figcaption {
    font-size: 12px;
  }

  .stack h3 {
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
  }
}